<ul class="productList" id="productList">
  {{#if products.length}}
    {{#each products as |product|}}
      <li class="productCard">
          <img src="/images/{{product.thumbnails.[0]}}" alt="{{product.title}}">
        <div>
          <h3>{{product.title}}</h3>
          <p>{{product.description}}</p>
          <p class="price">${{product.price}}</p>
        </div>
      </li>
    {{/each}}
  {{else}}
    <li>No products found</li>
  {{/if}}
</ul>